<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-
8859-1" />
<title>Inserer &acirc; l'ext&eacute;rieur</title>
<script language="javascript" type="application/javascript" src="scripts/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
$("#bouton").click(function(){
$("#box").before("<div><b>Avant</b></div>");
$("#box").after("<div><b>Apr&egrave;s</b></div>");
});
});
</script>
<style type="text/css">
input {
	margin-bottom: 10px;
}
div {
	border: 1px solid black;
	width: 200px;
	padding: 5px;
}
#box {
	border: 1px solid black;
	width: 200px;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
}
p {
	background-color: #9cf;
	margin: 5px;
	padding: 5px;
}
</style>
</head>
<body>
<input id="bouton" type="button" value="Go" />
<div id="box">
  <p>JQuery</p>
</div>
</body>
</html>